body{
  background-color: black;
  background-image: url('images/background.png');
  background-repeat: repeat-y;
  background-size: cover;
  color: whitesmoke;
}

#kolaahal {
  font-family: 'El Messiri', sans-serif;
  font-size: 5em;
  text-align: center;
  margin-top: 0.8em;
}

#logo{
  height: 100px;
  width: 130px;
}



/* navbar section */
a {
	outline: none;
}

.navbar-container {
	text-align: center;
	padding: 0em;
	font-size: 0;
}

.navbar-container ul {
	padding: 0.5em;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 16px;
}

.navbar-container ul li a {
	color: whitesmoke;
	text-decoration: none;
	display: inline-block;	
	padding: 10px;
	transition: color 1s;
}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.8s, background-color 1s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: whitesmoke;
}

.navbar-container ul li:hover .underline {
	background-color: whitesmoke;
	width: 100%;
}

#mainnav
{

	font-weight: 400;
	font-size: 1rem;
}
#mainnav .nav-link
{
	color: white;
}


.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: black;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: white;
    margin-bottom: 5px;
}
/* ------------- */

#dates {
  font-family: 'El Messiri', sans-serif;
  font-size: 2em;
  text-align: center;
}

#slogan {
  font-family: 'El Messiri', sans-serif;
  font-size: 3em;
  text-align: center;
}

/* #mainpage {
  height: 100vh;
}

#clock{
  height: 70vh;
}


#takeatour{
  height: 100vh;
}

#teaser {
  height: 100vh;
}

#temp{
  height: 30vh;
}

#timeline {
  height: 200vh;
}

#events {
  height: 170vh;
}

#sponsors {
  height: 100vh;
}

#contactus{
  height: 50vh;
} */

#takeatour p {
  font-family: 'El Messiri', sans-serif;
  font-size: 2em;
  margin-left: 2em;
  text-align: center;
}
#airplane
{ margin-left: 0.5em;
  height: 1em;
  width: 1em;

}
/*#takeatour img {
  margin-left: 0.5em;
  height: 1em;
  width: 1em;
}
*/
#timeline p {
  font-family: 'El Messiri', sans-serif;
  font-size: 2em;
  margin-left: 2em;
  text-align: center;
}

/* #timeline img {
  height: 90%;
  width: 60%;
} */

#teaser p {
  font-family: 'El Messiri', sans-serif;
  font-size: 2em;
  margin-left: 2em;
  text-align: center;
}

#events p {
  font-family: 'El Messiri', sans-serif;
  font-size: 2em;
  margin-left: 2em;
  text-align: center;
}
 #text
      {
        font-size: 4em;
      }
      #text2
      {
        font-size: 4em;
      }

#sponsors p {
  font-family: 'El Messiri', sans-serif;
  font-size: 2em;
  margin-left: 2em;
  text-align: center;
}

/* Contact us section */

#contactus p {
  font-family: 'El Messiri', sans-serif;
  font-size: 2em;
  margin-left: 2em;
  text-align: center;
}

#contactus .content{
  font-family: 'Source Code Pro', monospace;
  font-size: medium;
}

#contactus .developer{
  margin-top: 5em;
}

.card {
  color: black;
}

#timer{
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Lato', sans-serif;
}

#contactus img{
  display: inline;
  align-content: center;
  text-align: center;
}

.circle-square {
  height: 100px;
  width: 100px;
  border-radius: 50%; 
}

#collapsebtn {
  height: 60px;
  width: 60px;
}

#sponsors img{
  height: auto;
  width: 100px;
}

#reg{
  font-family: 'El Messiri', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 5em;
}

#buttons{
  text-align: center;
  margin-top: 5em;
  font-family: 'El Messiri', sans-serif;
}

#left{
  margin-right: 1em;
}

#right{
  margin-left: 1em;
}

